/* Polices */
@font-face {
  font-family: 'Dosis-Regular';
  src: url('fonts/Dosis-Regular.ttf');}
@font-face {
  font-family: 'Dosis-Bold';
  src: url('fonts/Dosis-Bold.ttf');}
@font-face {
  font-family: 'Bubblegum';
  src: url('fonts/BubblegumSans-Regular.ttf');}

.col-offset-1 {
  margin-left: 8.33%}

/* Blocs temporaires*/
    /* [class*="col-"], footer {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 6px;
    line-height: 40px;
    text-align: left;
    background-color: inherit;
  } */

/* Corps */
body {
  margin: 0px -15px 0px -15px;
  font-family: Dosis-Regular,Arial,sans-serif;
  font-size: 10px;
  background-color: none;
}

.header {
  /*Container*/
  padding-top: 3em;
  width:100%;
  height:16em;
  box-shadow: 0 0 30px 40px #4A001F;
  background-color: #4A001F;
  /* background-color: #e84353;
  background-image: linear-gradient(45deg, #e84353 0%, #89ecda 52%, #4A001F 90%); */
  /*Text*/
  color: ghostwhite;
  text-align: center;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 100px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 10px;
  color: #818181;
  display: block;
}


.page_title {
  font-family: Bubblegum;
  font-size: 4.5em;
  text-shadow: -2px 0px 0px orangered;
  /* text-shadow: -2px -1px 3px #5D1E1E; */
}
.page_subtitle {
  font-size: 2em;
  color: firebrick;
  /* text-shadow: -2px -1px 3px #5D1E1E; */
}

.articles {
  padding-left: 6em; padding-right: 6em;
  font-size: 1.2em;
  background-color: inherit;
}

.part {
  margin-top: 2em;
  background-color: inherit;
}

h3 {
  margin-bottom: 1.5em;
  margin-top: 2.5em;
}

footer {
  font-size: 0.8em;
  margin-top: 10em; margin-right: 0.5em;padding-bottom: 0em;
  text-align: right;
  box-shadow: 0 0 30px 40px #4A001F;
  background-color: #4A001F;
  color: ghostwhite;
}

.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

/*SVG parameters*/
.line {
      fill: none;
      stroke-width: 1.2px;
    }
    .axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* Tooltips */
div.tooltip {
  position: absolute;
  text-align: center;
  width: 8em;
  height: 3.5em;
  padding: 0.5em;
  font: 10px sans-serif;
  background: ghostwhite;
  border: 0px;
  border-radius: 3px;
  pointer-events: none;
}

#main {
  transition: margin-left .5s;
  padding: 0px;
  margin-left: 100px;
}

